svg {
    background-color: #2E2633;
}

body {
    /*just be sloppy and sure for now*/
    margin: 0;
    padding: 0;
}

.node, .link {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
}

.offview {
    opacity: 0;
}

.node.instance {
    stroke: #fff;
    stroke-width: 1.5px;
}

.node.instance circle {
    fill: #99173C;
}

.node.commit circle {
    fill: #555152;
}

.anchor {
    /*display: none;*/
}

.anchor.link {
    stroke: #eeeeee;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
    stroke-width: 3px;
}

text {
    font: 14px sans-serif;
    pointer-events: none;
    text-anchor: middle;
}

.node text {
    letter-spacing: 0.1em;
    alignment-baseline: middle;
    stroke: #EFFFCD;
    fill: #EFFFCD;
}

