* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
    /*just be sloppy and sure for now*/
  margin: 0;
  padding: 0;
}

header {
  flex:1;
}

main {
  display:flex;
  flex:1;
}

main > section {
  flex: 1 100%;
}

main > aside {
  flex: 1 200px;
}
