svg {
    background-color: #2E2633;
    float: left;
    height: 100vh;
    /*width: 83.3%;*/
}

div#infobar {
    float: left;
    padding: 0.5em;
    width: 15%;
    word-wrap: break-word;
}
#infobar ul {
    padding-left: 20px;
}

div#controlbar {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    height: 1.2em;
    background-color: #5A5A5A;
    color: #fff;
}

body {
    /*just be sloppy and sure for now*/
    margin: 0;
    padding: 0;
}

image.provider-logo {
    alignment-baseline: middle;
}

.node, .link {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
}

.node.lgroup, .node.logic-state {
    stroke: #fff;
    stroke-width: 1.5px;
}

.node.lgroup circle {
    fill: #ff7f0e;
}

.node.logic-state circle {
    fill: #9467bd;
}

.node.process circle {
    fill: #2ca02c;
}

.node.dataspace circle {
    fill: #c49c94;
}

.node.dataset circle {
    fill: #8c564b;
}

.anchor {
    display: none;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
    stroke-width: 2px;
}

.link-commit {
    stroke: #17becf;
    stroke-width: 5px;
}

.vcs-label rect {
    fill: #ff7f0e;
}

.vcs-label text {
    /*stroke: #ff7f0e;*/
    /*fill: #ff7f0e;*/
    stroke: #EFFFCD;
    fill: #EFFFCD;
    text-anchor: middle;
}

text {
    font: 14px sans-serif;
    pointer-events: none;
    text-anchor: middle;
}

.node text {
    letter-spacing: 0.1em;
    alignment-baseline: middle;
    stroke: #EFFFCD;
    fill: #EFFFCD;
}

text .commit-subtext {
    font-size: 85%;
    stroke: #DDD;
    fill: #DDD;
}

text .commit-subtext.commit-passed {
    stroke: #6cc644;
    fill: #6cc644;
}

text .commit-subtext.commit-failed {
    stroke: #a31f1f;
    fill: #a31f1f;
}

text .commit-subtext.commit-pending {
    stroke: #47bbb3;
    fill: #47bbb3;
}

#commit-axis path, #commit-axis line {
    stroke: #EFFFCD;
    fill: none;
    shape-rendering: crispEdges;
}

#commit-axis text {
    stroke: #EFFFCD;
    fill: #EFFFCD;
    font-family: sans-serif;
    font-size: 11px;
}

.elision-bar {
    stroke: #EFFFCD;
}
